.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #0a447e;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.closed {
  width: 0;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}