.header{
    background-color: #0a447e;
    width: 100%;
    color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.header div{
    padding: 8px 12px;
    border-radius: 4px;
}
.header div:hover{
    cursor: pointer;

    background-color: #0c5aa8;
    transition: background-color 0.3s ease;
}